# Disable autosuspend for USB cameras
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="*", ATTR{idProduct}=="*", TEST=="power/control", ATTR{power/control}="on"
SUBSYSTEM=="video4linux", ATTR{power/control}="on"
